div.row {
  margin-top: 2em;
  margin-left: 1em !important;
  margin-right: 0 !important;
}

h4 {
  margin-left: .5em;
}

form {
  margin-left: .5em;
  margin-right: 0;
}

div.field {
  width: 100%;
  margin-bottom: 1em;
  color: #000000;
}

div.filters {
  width: 100%;
  margin: 0 0 0 .5em;
  h4 {
    margin-left: 0;
  }
}

label {
  padding: 0;
  margin: 0;
}

input#queryTerms {
  width: 100%;
}

.btn-primary,
button {
  margin-top: 1em !important;
}

div.buttons {
  margin-bottom: 1em;
}

div.search-nav {
  width: 100% !important;
}

div.info {
  margin: .5em .25em .5em .25em;
  background-color: #F5F5F5;
  border: solid 1px #E0E0E0;
  padding: .25em;
  p {
    margin: 0;
    padding: 0;
  }
}

.btn-success {
  background-color: rgb(86,171,182) !important;
  border-color: rgb(86,171,182) !important;
  font-weight: bold;
}

.btn-success:focus {
  box-shadow: 0 0 0 2px rgba(86,171,182,.5);
}