.search-nav {
  margin-top: 0.35rem; // to align with right column

  .field {
    margin-bottom: 1rem;

    input#queryTerms {
      padding: 0.5rem;
      width: 100%;
      border: 1px solid #87845e;
      border-radius: 0.25rem;
      margin-top: 0;
      box-shadow: 0 0 0.5rem rgba(226, 217, 81, 0.5);

      &::placeholder {
        color: #888;
        font-style: italic;
        opacity: 1;
      }
    }
  }

  .buttons button {
    margin-left: 0.75rem;
  }
}

.filters {
  clear: both;
  padding-top: 2rem;
  h4 {
    font-size: 1.2rem;
  }

  .field {
    margin-bottom: 1rem;
  }
}

:host::ng-deep .ng-select .ng-select-container {
  height: 2.2rem;
}
