<form #f="ngForm"
       (ngSubmit)="onSubmit(f.value)"
       class="ui form row">

  <div class="field col-md-12">
    <input type="text"
            id="queryTerms"
            [(ngModel)]="searchQuery" 
            value="searchQuery" 
            placeholder="Search terms ..."
            name="queryTerms"><br /><br />
    <ss-multiselect-dropdown [options]="tags" [settings]="mySettings" [texts]="tagTexts" [(ngModel)]="selectedTags" (ngModelChange)="onTagsChange($event)" [ngModelOptions]="{standalone: true}">
    </ss-multiselect-dropdown><br />
    <ss-multiselect-dropdown [options]="authors" [settings]="mySettings" [texts]="authorTexts" [(ngModel)]="selectedAuthors" (ngModelChange)="onAuthorsChange($event)" [ngModelOptions]="{standalone: true}">
    </ss-multiselect-dropdown><br />
    <ss-multiselect-dropdown [options]="orgs" [settings]="mySettings" [texts]="orgTexts" [(ngModel)]="selectedOrgs" (ngModelChange)="onOrgsChange($event)" [ngModelOptions]="{standalone: true}">
    </ss-multiselect-dropdown>   
   </div>

   <div class="col-md-12">
   <button type="submit" class="btn btn-primary">Search</button></div>

 </form>