<div class="row search">
  <h4>Search</h4>
  <div class="search-nav">
    <form class="ui form row" >
      <div class="field">
        <input type="text" id="queryTerms" [(ngModel)]="searchQuery" value="searchQuery" placeholder="Search terms ..." name="queryTerms">
      </div>
      <div class="field" *ngIf="topicsLoaded">
        <ng-select 
          [options]="topics"
          (selected)="onTopicsChange($event.value)"
          [(ngModel)]="selectedTopic"
          [ngModelOptions]="{standalone: true}"
          placeholder="Topic">
        </ng-select>
      </div>
      <div class="field">
        <ng-select
          [multiple]="true"
          [options]="subtopics"
          (selected)="onSubtopicsChange($event.value)"
          [(ngModel)] = "selectedSubtopics"
          [ngModelOptions]="{standalone: true}"
          placeholder="Subtopics">
        </ng-select>
      </div>
      <div class="field" *ngIf="orgsLoaded">
        <ng-select
          [multiple]="true"
          [options]="orgs"
          (selected)="onOrgsChange($event.value)"
          [(ngModel)]="selectedOrgs"
          [ngModelOptions]="{standalone: true}"
          placeholder="CASCs  ">
        </ng-select>
      </div>
      <div class="float-right buttons">
      	<button (click)="onSubmit()" class="btn btn-sm btn-success">Search</button>
        <button (click)="resetQuery()" *ngIf="showReset"class="btn btn-sm btn-warning">Reset Query</button>
      </div>
    </form>
  </div>

  <div class="filters" *ngIf="totalResults > 0">
    <h4>Filters</h4>
    <div class="field">
      <ng-select #orgs  
        [multiple]="true"
        [options]="resultOrgs" 
        (selected)="onOrgSourceChange($event.label)" 
        [(ngModel)]="filteredOrg"
        [label]="Organizations"         
        (deselected)="onOrgSourceChange($event.label)" 
        placeholder="All Organizations">
      </ng-select>
    </div>
    <div class="field">
      <ng-select #types 
        [multiple]="true"
        [options]="resultTypes" 
        (selected)="onTypeSourceChange($event.label)"
        [(ngModel)]="filteredType" 
        [label]="Types"
        (deselected)="onTypeSourceChange($event.label)"
        placeholder="Project">
      </ng-select>
    </div>
    <div class="field">
      <ng-select #fy 
        [multiple]="true"
        [options]="resultFY"
        (selected)="onFYSourceChange($event.label)" 
        [(ngModel)]="filteredFY" 
        [label]="FiscalYears"
        (deselected)="onFYSourceChange($event.label)"
        placeholder="All Fiscal Years">
      </ng-select>
    </div>
    <div class="field">
      <ng-select #statuses 
        [multiple]="true"
        [options]="resultStatus"
        (selected)="onStatusSourceChange($event.label)"
        [(ngModel)]="filteredStatus"
        [label]="Statuses"        
        (deselected)="onStatusSourceChange($event.label)"
        placeholder="All Statuses">
      </ng-select>
    </div>
    <div class="field">
      <button (click)="statuses.clear(); fy.clear(); types.clear(); orgs.clear()" class="btn btn-sm btn-warning">Reset Filters</button>
    </div>
  </div>
  <div class="info">
    <p>Search returns exact matches only (e.g. "bird", not "birds") and draws from the title and abstract fields. To retrieve variations, run multiple searches.</p>
  </div>
</div>
