<div class="row header ">
    <div class="top-nav navbar navbar-default">
        <div class="navbar-header">

            <a class="navbar-brand " href="https://my-beta.usgs.gov/nccwsc" title="home">

                <img class="img-responsive" id='usgs_logo' src="{{ approot }}assets/usgs-logo_0.png" class="usgs_logo" />
            </a>

            <a class="navbar-brand " href="https://my-beta.usgs.gov/nccwsc" title="home">
                <span class="col-xs-6 col-md-10" id="top-site-name">National Climate Change and Wildlife Science Center & Climate Science Centers</span>

            </a>

        </div>

    </div>


    <nav class="navbar navbar-dark bg-inverse menu nav navbar-nav" style="background-color: #555; border-radius: 0; height: 54px">
        <ul class="nav navbar-nav " *ngFor="let menu_item of nccwscMenu">

            <li class="nav-item" *ngIf="!menu_item.children">
                <a *ngIf="menu_item.title !='Login'" [href]="'https://my-beta.usgs.gov/nccwsc/' + menu_item.url">{{ menu_item.title }}</a>
            </li>

            <li class="nav-item  " *ngIf="menu_item.children">
                <a [href]="'https://my-beta.usgs.gov/nccwsc/' + menu_item.url">{{ menu_item.title }} </a>
                <!--<a   href= "#">{{ menu_item.title }} </a>


          <ul  *ngFor="let child of menu_item.children">
                    <li  ><a [href]="'https://my-beta.usgs.gov/nccwsc/' + child.url">{{ child.title }}</a></li>

                  </ul>-->

            </li>
        </ul>
    </nav>




</div>




<!--  <br><br>
        <div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>-->
