
.navbar {
    margin-bottom: 0px !important;
    //background-color: black;
    background-color: #333 !important;
    height: 55px;
    border-radius: 0px;
    border-color: black;
}

.navbarsExampleDefault{
  width: 1001px !important;
}

div.branding {
    background: black !important;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    line-height: 0.5rem !important;
}

.col-xs-12 {
    padding: 0px !important;
}
#usgs_logo {

    display: block;
    margin: 6px 0 2px 15px;
    width: 120px;
    float: left;
}
#top-site-name {
    font-size: 25px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 25px;
    margin-top: 20px;
    display: block;
}

.dropdown-menu {
    background: #333 !important;
    min-width: 18rem;
    border-radius: 0.2rem;
  }

.dropdown-menu a {
    font-size: 18px !important;
    }

.top-menu {
    background-color: #333;
}
.top-menu li a {
    color: rgba(255, 255, 255, .9) !important;
}
.top-menu li a:hover {
    color: rgba(255, 255, 255, .5) !important;
    background-color: #333 !important;
    background: transparent !important;
    text-decoration: none;
    cursor: pointer;
}
.top-menu li a:active {
    color: white;
    background: transparent !important;
    background-color: #333 !important;
}
.top-menu li a:visited {
    background: transparent !important;
    background-color: #333 !important;
}
nav li{
  margin-bottom: 0.3em;
}
nav li a{
    color: rgba(255, 255, 255, .9) !important;
    padding-top: 15px;
    padding-bottom: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 16px;
    cursor: pointer;
    text-decoration: none;
}
nav li a:hover{
 color: rgba(255, 255, 255, .5) !important;
}


.dropdown-toggle::after,.dropdown-toggle::before{
height: 4px !important;
width: 4px !important;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
}
.navbar-brand {
  white-space: normal;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.navbar-brand{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (max-width: 1199px) {
		#top-site-name{
		font-size: 21px;
	}
}


@media (max-width: 991px) {
    #top-site-name {
      font-size: 18px;
      margin-left: 5px;
      //position: absolute;
      bottom: 0px;
      z-index: 200;
    }
    .navbar {
      height: auto !important;
    }

    .bg-inverse {
      background-color:#333!important;
      height: 49px;
      z-index: 10;
      position: relative;
    }

    .navbar-toggler-right {
     top: -40px;
    }

    .branding {
    height: 119px;
      }
}

@media (max-width: 767px) {
  .navbar-brand {
    margin-right: 0;
    margin-left: 0;
  }

  .brandContainer {
    width: auto;
  }
  .site-name-wrapper {
    width: calc(100% - 216px);
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
  }

  #top-site-name {
    margin-top: 0;
  }
}

/*Custom media query for Small viewport (below 415)*/
@media (max-width: 415px) {
  #top-site-name {
    font-size: 15px !important;
    line-height: 1.5;
  }
}


/*Custom media query for tiny viewport (below 344)*/
@media (max-width: 344px) {
  #top-site-name {
    font-size: 13px !important;
    line-height: 1.2;
  }
}
