.headerTop {
    background-color: #fff;
    color: #00264c;
    width: 100%;
    padding: 0.45rem;
    text-align: center;

    h2 {
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-bottom: 0;
        letter-spacing: 0.25rem;
        font-weight: 400;
    }
}

.brandContainer {
    background: #003946 no-repeat url("/assets/images/header-bar.jpg");
    width: 100%;
    height: 174px;
    padding: 1.15rem 1.5rem 1rem;
    color: #fff;

    .media {
        padding-top: 1rem;
        img {
            height: 100px;
            padding-right: 1rem;
        }
    }

    h2 {
        font-size: 1.8rem;
        margin-top: 0.1rem;
        font-weight: 400;
    }

    h1 {
        font-size: 2.75rem;
        margin-top: 0;
        font-weight: 700;
        margin-bottom: 0;
    }
}
