<div class="row header">
  <div class="col-xs-4 col-md-3 col-lg-3 col-xl-2">
      <span><!--<a href="https://www.doi.gov/"><img src="{{ approot }}assets/doi_logo.png" class="doi_logo"/></a> -->
      <a href="https://www.usgs.gov/" class="align-items-center"><img src="{{ approot }}assets/usgs_logo_main_2x.png" class="usgs_logo"/></a></span>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 col-xl-10 ">
    <a class="navbar-brand hidden-md-down" [routerLink]="['/']" [routerLinkActive]="'active'">
      National Climate Change and Wildlife Science Centers
    </a>
    <a class="navbar-brand hidden-xs-down hidden-lg-up" [routerLink]="['/']" [routerLinkActive]="'active'">
      National Climate Change & Wildlife Science Centers
    </a>
      <a class="navbar-brand hidden-sm-up" [routerLink]="['/']" [routerLinkActive]="'active'">
      NCCWSC
    </a>
  </div>
  <div class="hidden-sm-down offset-md-2 offset-lg-2 offset-xl-1 col-xs-9 col-md-8 col-lg-8 col-xl-9">
      <nav class="navbar navbar-dark bg-inverse row" style="background-color: #555; border-radius: 0;">  
      <ul class="nav navbar-nav hidden-sm-down">
        <li class="nav-item" *ngFor="let menu_item of nccwscMenu">
          <a class="nav-link" [href]="'https://my-beta.usgs.gov/nccwsc/' + menu_item.url">{{ menu_item.title }}</a>
        </li>
      </ul>
      </nav>
  </div>

</div>
