

<!-- <div class="footer-menu row">
  <div class="col-xs-12 col-md-2"><a href="https://www2.usgs.gov/laws/accessibility.html" title="Accessibilty and the U.S. Geological Survey" target="_blank">Accessibility</a></div>
  <div class="col-xs-12 col-md-2"><a href="https://www2.usgs.gov/foia/" title="U.S. Geological Survey Freedom of Information Act" target="_blank">FOIA</a></div>
  <div class="col-xs-12 col-md-2"><a href="https://www2.usgs.gov/laws/policies_notices.html" title="USGS Policies and Important Notices" target="_blank">Policies & Notices</a></div>
  <div class="col-xs-12 col-md-2"><a href="https://www2.usgs.gov/laws/privacy.html" title="USGS Privacy Policies" target="_blank">Privacy</a></div>
  <div class="col-xs-12 col-md-2 legal"><a [ngbPopover]="legalContent" title="Legal Information">Legal</a></div>
  <div class="col-xs-12 col-md-2"><a href="https://casc.usgs.gov/staffPage">Contact Us</a></div>	
</div>

<ng-template #legalContent>
  <ul class="legal_info">
    <li><a href="http://www.doi.gov/" title="United States Department of Interior">U.S. Department of the Interior</a></li>
    <li><a href="http://www.usgs.gov/" title="United States Geological Survey">U.S. Geological Survey</a></li>
    <li><a href="http://www.doioig.gov/" title="Department of Interior Inspector General's Office">DOI Inspector General</a></li>
    <li><strong>URL:</strong> <a href="/" title="Natural Values Resource Center">{{ currentPage }}</a></li>
    <li><strong>Last Modified:</strong> Wednesday, June 15, 2016</li>
    <li><strong>Version: </strong>{{ currentVersion }}</li>
  </ul>
</ng-template>

 -->

<div class="footer">
  <div class="container">
    <div class="row nav-row">
      <ul class="menu nav">
        <li class="menu-links"><a href="https://www.doi.gov/privacy">DOI Privacy Policy</a><span>&nbsp;|&nbsp;</span></li>
        <li class="menu-links"><a href="https://www.usgs.gov/policies-and-notices">Legal</a><span>&nbsp;|&nbsp;</span></li>
        <li class="menu-links"><a href="https://www.usgs.gov/accessibility-and-us-geological-survey">Accessibility</a><span>&nbsp;|&nbsp;</span></li>
        <li class="menu-links"><a href="https://www.usgs.gov/sitemap">Site Map</a><span>&nbsp;|&nbsp;</span></li>
        <li class="menu-links"><a href="https://answers.usgs.gov/">Contact USGS</a></li>
      </ul>
    </div>

    <div class="footer-line row">
      <hr>
    </div>

    <div class="row nav-row">
      <ul class="menu nav">
        <li class="menu-links"><a href="https://www.doi.gov/">U.S. Department of the Interior</a><span>&nbsp;|&nbsp;</span></li>
        <li class="menu-links"><a href="https://www.doioig.gov/">DOI Inspector General</a><span>&nbsp;|&nbsp;</span></li>
        <li class="menu-links"><a href="https://www.whitehouse.gov/">White House</a><span>&nbsp;|&nbsp;</span></li>
        <li class="menu-links"><a href="https://www.whitehouse.gov/omb/management/egov/">E-Gov</a><span>&nbsp;|&nbsp;</span></li>
        <li class="menu-links"><a href="https://www.doi.gov/pmb/eeo/no-fear-act">No Fear Act</a><span>&nbsp;|&nbsp;</span></li>
        <li class="menu-links"><a href="https://www2.usgs.gov/foia">FOIA</a></li>
      </ul>
    </div>
  </div>
</div>