


.footer {
  .hf-container .row {
      background-color: #00264C;
      margin: 0px;
    }

  a:active,
  a:focus {
    outline: none !important;
  }
  
  ul {
    margin: 0.25em;
    padding-left: 10px;
    font-size: .9em;
    color: #333;
    li.menu-links {
      list-style: none;
      span{
        padding: 0 12px;
        color: white !important;
      }
      a {
        color: white !important;
      }

    }
  }
}

@media (max-width:767px){
  .footer-line{
    display:none;
  }
  .hf-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    .nav-row {
      width: 205px;
    }
    
    ul {
      flex-direction: column;
      li {
        padding-top: 4px;
        > span {
          display:none;
        }
      }
    }
  }
  

  /* li.menu-links{
    width:100%;
    clear:both;
  } */
}
