
<div class="row csc">
  <div class="col-md-12">
    <h1>{{ title }} Projects</h1>
	</div>
  <div class="col-xs-12 col-md-3 filter-bar" *ngIf="topics">
    <select (change)="filterProjectsList($event.target.value)" [(ngModel)]="current_topic" class="filter">
      <option *ngFor="let topic of topics" [value]="topic">{{ topic }}</option>
    </select>
  </div>

  <div class="col-xs-12 col-md-3 filter-bar" *ngIf="fiscal_years">
    <select (change)="filterProjectsList($event.target.value)"  [(ngModel)]="current_fy" class="filter">
      <option *ngFor="let fiscal_year of fiscal_years" [value]="fiscal_year">{{ fiscal_year }}</option>
    </select>
  </div>

  <div class="col-xs-12 col-md-3 filter-bar" *ngIf="statuses">
    <select  (change)="filterProjectsList($event.target.value)" [(ngModel)]="current_status" class="filter">
      <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
    </select>
  </div>

  <div class="col-xs-12 col-md-3 filter-bar">
    <a class = "btn btn-primary btn-sm" href="#">Explore Other CASCs</a>
  </div>

  <div class="csc-projects" *ngIf="!dataLoading && filteredCscProjectsList.length > 0">
    <div class="col-md-12">
			<ng2-smart-table class= "table table-striped table-bordered hidden-md-down" [settings]="settings" [source]="filteredCscProjectsList"></ng2-smart-table>

			<div class="col-md-12 loading" *ngIf="dataLoading">
					<h4 class="loading">Loading {{ title }} ScienceBase Projects.</h4>
					<img src="{{ approot }}assets/loading.gif" class="loading" alt="Loading Results" title="Loading Results" />
			</div>

			<div class="no_data col-md-12" *ngIf="filteredCscProjectsList.length == 0 && dataLoading == false">
					<h4 class="no_data">Use one or more filters above to select the topics, fiscal years, or statises for the projects you wish to view.</h4>
					<button class="btn btn-outline-secondary btn-small" (click)="showAllProjects()">See All Projects</button>
			</div>
	</div>


<!-- ********************< Mobile Cards*****************************************************-->

    <div class = "col-xs-12 hidden-lg-up " *ngIf="!dataLoading && filteredCscProjectsList.length > 0">
	<div class = "card col-xs-10"  *ngFor= "let project of filteredCscProjectsList">

		<!--Card content-->
		<div class="card-block mobile">

			<!--Title-->
			<h4 class="card-title "><a [routerLink]="['/project/', sbId, project.id]"> {{ project['title']}} </a>
			<ul *ngIf="project.children?.length > 0">
				<li *ngFor= "let childProject of project.children">
					{{ childProject.title }}
				</li>
			</ul></h4>

			<!--Project Year-->
			<div class="card-text">
				<b>Funding Year:</b>
				<span *ngIf="project['fiscal_year']"> {{ project.fiscal_year}} </span>
				<span *ngIf="!project.fiscal_year"> N/A </span>
			</div>

			<!--Principal Investigator-->
			<div class="card-text">
				<b>Principle Investigator(s):</b>
				<ul *ngFor="let pi of project.contacts.principal_investigators">
					<li>
						{{ pi.name }} <em *ngIf="pi.organization">({{ pi.organization }})</em>
					</li>
				</ul>
			</div>

			<!--Topics-->
			<div class="card-text">
				<b>Topic(s):</b>

				<span *ngIf="project?.topics"> {{ project.topics }} </span>
				<span *ngIf="!project.topics"> Unknown </span>
			</div>

			<!--Status-->
			<div class="card-text">
				<b>Status:</b>
				<span *ngIf="project.status"> {{ project.status }} </span>
				<span *ngIf="!project.status"> Unknown </span>
			</div>

		</div>
		<!--/.Card content-->

	</div>

</div>

<!--/.Card-->
