div.content {
background-color: #f5f5f5;
border: solid 1px #DDD;
padding: 1em;
margin: 1em;
  h1.page-title {
    font-size: 1.2em;
    width: 100%;
    border-bottom: 1px solid #333;
  }
  h2.title {
    font-size: 1.1em;
    margin-bottom: 20px;
  }

}