      <!--<form class="form-horizontal">
       <div class="form-group">
          <label class="control-label">
            Base Layers
          </label>
          <div class="radio"
               [class.col-sm-offset-4]="i !== 0"
               [class.col-lg-offset-4]="i !== 0"
               *ngFor="let layer of model.baseLayers; let i = index">
            <label>
              <input type="radio"
                     [name]="layer.id"
                     [(ngModel)]="model.baseLayer"
                     [value]="layer.id">
              {{layer.name}}
            </label>
          </div>
        </div>

        <div *ngIf="null != model.overlayLayers && model.overlayLayers.length > 0" class="form-group">
          <label class="control-label">
            Control Layers
          </label>
          <div class="checkbox"
               [class.col-sm-offset-4]="i !== 0"
               [class.col-lg-offset-4]="i !== 0"
               *ngFor="let layer of model.overlayLayers; let i = index">
            <label>
              <input type="checkbox"
                     [name]="layer.id"
                     [(ngModel)]="model.overlayLayers[i].enabled" >
              {{layer.name}}
            </label>
          </div>
        </div>

        <button type="button"
                class="pull-left btn btn-default"
                (click)="onApply()">Apply</button>

      </form> -->

      <div leaflet style="height: 400px;"
           [leafletOptions]="options"
           [leafletLayers]="layers"
           [leafletLayersControl]="layersControl">
      </div>

