table{
    margin-bottom: 0px;
  border: 1px;
}
table li img{
  width: 45px;
  height: 45px;
}
.project_year{

}
ul {
    list-style:  none;
}
th{
  text-align: center;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
