<h1>{{ csc_title }} CSC</h1>
<span>
  <div>
<table class = "table table-striped table-bordered">
  <tr>
    <th style = "width:10%;">Year(s)</th>
    <th style = "width:60%;">Title</th>
    <th style = "width:20%;">Principle Investigator(s)</th>
    <th style = "width:10%;">Contains</th>
  </tr>

<tr *ngFor= "let projectYear of cscJson" style= "width: 100%">
  <!--<span class="project_year" *ngIf="projectYear.title">-->
    <!--{{ projectYear.title }}-->

      <div *ngFor= "let project of projectYear.projects">
        <td>
          {{ project.dates}}
        </td>
        <td>
          <a [routerLink]="['/project/', sbId, project.id]">
            {{ project.title}}
          </a>
          <ul *ngIf="project.children?.length > 0">
            <li *ngFor= "let childProject of project.children">{{ childProject.title }}</li>
          </ul>
        </td>
        <td *ngIf="project.principal_investigator">
          <ul *ngFor="let pi of project.principal_investigator">
            <li>{{ pi.name }} (<em>{{ pi.organization}})</em></li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngIf="project.hasFolders"><img src = "src\assets\images\Folder_Icon.png" alt = "Folder"></li>
            <li *ngIf="project.hasMaps"><img src = "src\assets\images\GIS_Icon.png" alt = "Map"></li>
          </ul>
        </td>
      </div>
    
</tr>
  </table>
<div>
  <span>
