.table {
  th.fy {
    width: 7em;
  }
  th.contains {
    width: 7em;
  }
  th.subtopics {
    width: 10em;
  }
  th.status {
    width: 7em;
  }
  th.types {
    width: 8em;
  }
  th.csc {
    width: 10em;
  }
}

ul {
    list-style:  none;
}
th{
  text-align: center;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 16px !important;
    margin-bottom: 0px;
    border: 1px;
}

table li img{
  width: 45px;
  height: 45px;
}

div.topic {
  padding: 1em;
}

select {
  width: 100%;
  padding: 10px;
}

div.filter-bar {
  margin-bottom: 1em;
  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

div.loading {
  margin: 1em;
  padding: 1em;
  text-align: center;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li.icons {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.icon-map,
.icon-products{
  color: #CCC !important;
}

.list-group-item {
  background: none !important;
}

h3 {
  background-color: #DAE8F4;
  padding: 5px;
  font-size: 18px;
  font-weight: 900;
}

.background-div {
  background-color: #F4F4F4;

  h2 {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .select-box {
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
  
    input {
      margin-left: 10px;
    }
    label {
      margin-left: 5px;
    }
  }
}

.breadcrumbs {
  color: #666;
  font-weight: 100;
  font-size: 16px;

  .trail {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  a {
    color: #666;
    font-weight: 100;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

div.no_data {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin: 1em;
  border: 1px solid #333;
  padding: 1em;
  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
div .card{
    margin-bottom: 1em !important;
    margin-left:0.3em;
    margin-right: 0.3em;
  }

.mobile h4.card-title a {
    font-size: 0.8em;
  }


:host::ng-deep th {
  text-align: center;
  vertical-align: middle !important;
}
:host::ng-deep ng2-smart-table  {
  font-size:18px;
  border:none;
}

