.breadcrumbs {
  margin: 1rem 0.75rem;
  font-size: 1.35rem;

  .trail {
    display: inline-block;
    margin: 0 1ex;
  }
}

h2 {
  margin: 1.5rem 0.75rem 3rem;
}

.select-box {
  margin-bottom: 1.5rem;
  h3 {
    font-size: 1.35rem;
    padding-bottom: 2px;
    border-bottom: 1px solid #eee;
  }
  div {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 1rem;
    label {
      margin-bottom: 0;
    }
  }
  input[type="radio"] {
    display: inline-block;
    margin-right: 0.5ex;
  }
}

:host::ng-deep table {
  thead {
    border-bottom: 1px solid #eee;
  }
  tr {
    th.ng2-smart-th {
      text-align: left;
      vertical-align: bottom !important;
      padding-top: 0;
      margin-top: 0;
      &.title {
        text-align: center;
      }
    }
    th,
    td {
      line-height: 1.25;
      font-size: 1rem !important;
      border-top: none;
    }
  }
}

.card {
  margin-bottom: 1rem;
  padding: 1rem;

  ul {
    margin: 0;
    padding-left: 1rem;
  }
}