<h1>{{ topic_names[topic] }} CSC</h1>
<span>
  <div>
    <table class = "table table-striped table-bordered">
      <tr>
        <th style = "width:10%;">Year(s)</th>
        <th style = "width:60%;">Title</th>
        <th style = "width:20%;">Principle Investigator(s)</th>
        <th style = "width:10%;">Contains</th>
      </tr>
      <tr *ngFor= "let key of topicKeys">
        <td>
          {{ projectsJson[key].dates}}
        </td>
        <td>
          <a [routerLink]="['/project/', projectsJson[key].parent_csc, projectsJson[key].id]">{{ projectsJson[key].title}}</a>
          <ul *ngIf="projectsJson[key].children?.length > 0">
            <li *ngFor= "let childProject of projectsJson[key].children">{{ childProject.title }}</li>
          </ul>
        </td>
        <td *ngIf="projectsJson[key].principal_investigator">
          <ul *ngFor="let pi of projectsJson[key].principal_investigator">
            <li>{{ pi.name }} (<em>{{ pi.organization}})</em></li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngIf="projectsJson[key].hasFolders"><img src = "src\assets\images\Folder_Icon.png" alt = "Folder"></li>
            <li *ngIf="projectsJson[key].hasMaps"><img src = "src\assets\images\GIS_Icon.png" alt = "Map"></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</span>
