

div.container-fluid {
  padding: 0px ;
}

app-header {
  background: black !important;
  z-index: 10;
  position: relative;
}

//#mainDisplayWrapper {
//    
//}

#footer {
  display: block;
  padding:0;
  margin:0;
  left:0; 
  bottom:0; 
  width:100%;
  position: relative;

}
