.breadcrumbs {
  margin: 1rem 0.75rem;

  .home-icon * {
    font-size: 20px;
    color: #626466;
    margin-right: 0.25rem;
  }

  a, span.leaf {
    font-size: 1.25rem;
  }

  .trail {
    display: inline-block;
    margin: 0 1ex;
  }
}