h2 {
    font-size: 1.5em;
    font-family: 'Source Sans Pro';
}

.btn {
  width: 80% !important;
  /* margin-left: 10%; */
  margin-bottom: 1em;
  border: none;
  width: 280px;
  cursor: pointer;
    font-family: 'Source Sans Pro';


}
.btn.btn-success {
  /* width: 20em !important; */
  background-color: #71A100
}

.btn.btn-primary {
  background-color: #002640
}

.btn.btn-info {
  background-color: #71A100
}
.button-group {
  padding: 10px 0;
}
.container {
  padding: 8px 0;
}

.title-background {
  background-color: #DAE8F4;
  padding: 5px;
  font-size: 18px;
  font-weight: 900;
}

.topics {
  padding-bottom: 10px;
}

@media (max-width: 1200px) {
  .btn {
    height: 60px;
    white-space: normal;
      font-size: 1.25em;
  }
}

.center-last-button {
  div:last-child {
    margin: 0 auto;
  }
}
