.btn.btn-success {
  width: 20em !important;
  margin-bottom: 1em;
}

.btn.btn-primary {
  width: 80% !important;
  margin-left: 10%;
  margin-bottom: 1em;
}

.btn.btn-info {
  width: 80% !important;
  margin-left: 10%;
  margin-bottom: 1em;  
}