.search-group {
  padding: 1.5em 1.5em;

  h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eaebec;
    margin-bottom: 1.5rem;
  }

  .casc-map {
    width: 100%;
    max-height: 800px;
  }

  .topics-wrapper {
    margin-top: 1rem;
  }

  .topics {
    line-height: 1.3;
    margin-bottom: 1rem;
    a {
      font-size: 1.2rem;
    }
  }
}
