.project {
  min-height: 75vh;

  .breadcrumbs {
    margin: 0 0.75rem 1rem;

    .home-icon * {
      font-size: 20px;
      color: #626466;
      margin-right: 0.25rem;
    }

    a,
    span.leaf {
      font-size: 1.25rem;
      margin: 0;
    }

    .trail {
      display: inline-block;
      margin: 0 1ex;
    }
  }

  .body {
    line-height: 1.65;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .information-sidebar {
    margin-top: 2rem;
  }

  .related-publications {
    .pubTitle {
      font-size: 1rem;
      font-weight: 700;
    }
    ul {
      padding-left: 0;
      list-style-type: none;

      ul {
        padding-left: 2rem;
      }
    }
  }

  .affiliations {
    padding-bottom: 1rem;
  }

  .media-cards {
    margin-bottom: 2rem;

    .card {
      width: 30%;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1rem;
      vertical-align: top;
      a:hover {
        cursor: pointer;
      }
    }
  }

  .sb-link {
    margin: 2rem 0;
  }
}

.modal-image {
  width: 100%;
}
