/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Biryani:200,300,400,600,900');

@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: 'Source Sans Pro',sans-serif !important;
  font-size: 16px;
}

.hf-container {
  margin: auto;
  padding:0;
  z-index: 10;
  //position: relative;
}
#footer > .footer > .hf-container > .row {
  padding-left:20px;

}
