@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=News+Cycle:wght@400;700&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 18px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "News Cycle", sans-serif !important;
    font-weight: 700;
  }

  a {
    color: #0d66c4 !important;
  }

  b, strong {
    font-weight: 600;
  }
}
