.results {
  .results-count {
    font-style: italic;
  }

  .card {
    margin-bottom: 1rem;
    h4.card-title a {
      font-family: "Lora", serif !important;
      font-weight: 500 !important;
      font-size: 1.3rem;
    }
  }
}