.results {
  .results-count {
    font-style: italic;
  }

  .card {
    margin-bottom: 1rem;
    h4.card-title a {
      font-family: "Lora", serif !important;
      font-weight: 500 !important;
      font-size: 1.3rem;
    }
  }
}

.btn-publication {
  background-color: #DD8B31;
  color: white;
  opacity: 1.0;
}

.btn-project {
  background-color: #03AEDD;
  color: white;
  opacity: 1.0;
}

.btn-data {
  background-color: #B24142;
  color: white;
  opacity: 1.0;
}

.btn-other-product {
  background-color: #5478BF;
  color: white;
  opacity: 1.0;
}

.underline {
  border: 1px #dee2e6 solid;
  border-width: 0 0 1px;
}